In [1]:
import pandas as pd

In [11]:
NRC_lexicon = pd.read_csv('Emotion_Lexicon',  names=["word", "emotion", "association"], sep='\t')
display(NRC_lexicon)

         word       emotion  association
0       aback         anger            0
1       aback  anticipation            0
2       aback       disgust            0
3       aback          fear            0
4       aback           joy            0
...       ...           ...          ...
141815   zoom      negative            0
141816   zoom      positive            0
141817   zoom       sadness            0
141818   zoom      surprise            0
141819   zoom         trust            0

[141820 rows x 3 columns]

In [7]:
# list the unique emotions in the lexicon
NRC_lexicon.emotion.unique()

array(['anger', 'anticipation', 'disgust', 'fear', 'joy', 'negative',
       'positive', 'sadness', 'surprise', 'trust'], dtype=object)

In [8]:
# count the number of word per emotion
NRC_lexicon[NRC_lexicon.association == 1].emotion.value_counts()

negative        3324
positive        2312
fear            1476
anger           1247
trust           1231
sadness         1191
disgust         1058
anticipation     839
joy              689
surprise         534
Name: emotion, dtype: int64

In [15]:
# transform the dataframe in a wide format
NRC_lexicon_wide = NRC_lexicon.pivot(index='word', columns='emotion', values='association').reset_index()
display(NRC_lexicon_wide)

emotion,word,anger,anticipation,disgust,fear,joy,negative,positive,sadness,surprise,trust
0,NaN,0,0,0,0,0,0,0,0,0,0
1,aback,0,0,0,0,0,0,0,0,0,0
2,abacus,0,0,0,0,0,0,0,0,0,1
3,abandon,0,0,0,1,0,1,0,1,0,0
4,abandoned,1,0,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
14177,zone,0,0,0,0,0,0,0,0,0,0
14178,zoo,0,0,0,0,0,0,0,0,0,0
14179,zoological,0,0,0,0,0,0,0,0,0,0
14180,zoology,0,0,0,0,0,0,0,0,0,0
14181,zoom,0,0,0,0,0,0,0,0,0,0

In [20]:
# remove rows with only zeros (no association with any of the emotions)
NRC_lexicon_wide = NRC_lexicon_wide[~((NRC_lexicon_wide['anger'] == 0) & (NRC_lexicon_wide['anticipation'] == 0) 
                                      & (NRC_lexicon_wide['disgust'] == 0) & (NRC_lexicon_wide['fear'] == 0) 
                                      & (NRC_lexicon_wide['negative'] == 0) & (NRC_lexicon_wide['positive'] == 0) 
                                      & (NRC_lexicon_wide['sadness'] == 0) & (NRC_lexicon_wide['surprise'] == 0)
                                      & (NRC_lexicon_wide['trust'] == 0))]
display(NRC_lexicon_wide)

emotion,word,anger,anticipation,disgust,fear,joy,negative,positive,sadness,surprise,trust
2,abacus,0,0,0,0,0,0,0,0,0,1
3,abandon,0,0,0,1,0,1,0,1,0,0
4,abandoned,1,0,0,1,0,1,0,1,0,0
5,abandonment,1,0,0,1,0,1,0,1,1,0
8,abba,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
14165,zany,0,0,0,0,0,0,0,0,1,0
14167,zeal,0,1,0,0,1,0,1,0,1,1
14169,zealous,0,0,0,0,1,0,1,0,0,1
14174,zest,0,1,0,0,1,0,1,0,0,1
14175,zip,0,0,0,0,0,1,0,0,0,0